@media (min-width: 200px) and (max-width: 600px) { /* VISTA PARA TAMAÑO PEQUEÑO*/
  [class*="col-"]{
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .start_bootstrap_title{
    padding-left: 1em;
    font-weight: 400;
    float: left;
    clear: both;
  }

  .bars_menu .short_menu{
    display: inline-block;
    float: right;
    margin: 1em 2em;
  }

  ul{
    display: none;
  }

  .wallpaper_text{
    margin-top: 5em;
  }

  h1{
    font-size: 2em;
  }

  .sub_title{
    font-size: 1.25em;
  }

  .row.intro{
    padding: 0;
  }

  .col-6.sailor, .col-6.contactame{
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .text_soy{
    font-size: 0.875em;
    padding-right: 0.5em;
  }

  .col-4.cards_pic{
    width: 18.75em;
    height: 12.5em;
    display: block;
    float: none;
    object-fit: cover;
  }

  .col-4.cards_box{
    max-width: 100%;
    margin: 0.5em;
    padding: 0;
  }
}
